:root {
  font-family: 'Poppins';

  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-upload-wrapper{
  width: 100% !important;
  padding-right: 50%;
}

.ant-upload-list{
  width: 27em !important;
}

.ant-form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.sie-logo {
  font-family: 'DM Sans';
  color: white;
  font-weight: 700;
  font-size: 2.5em;
}

.sie-sider-logo {
  font-family: 'Poppins';
  color: white;
  font-weight: 600;
  font-size: 2.2em;
}

.sie-header-title {
  font-family: 'DM Sans';
  color: white;
  font-weight: 600;
  font-size: 1.8em;
}

.sie-header-user {
  font-family: 'DM Sans';
  color: white;
  font-weight: 600;
  font-size: 1.0em;
}
.sie-header-rol {
  font-family: 'DM Sans';
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}

.sie-content-filter {
  font-family: 'DM Sans';
  color: #5271FF;
  font-weight: 600;
  font-size: 1.0em;
}

.sie-content-title {
  font-family: 'Poppins';
  color: #2D3748;
  font-weight: 600;
  font-size: 1.4em;
}

.sie-login-title {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight: 700;
  font-size: 2.0em;
}



.sie-login-subtitle {
  font-family: 'DM Sans';
  color: #A0AEC0;
  font-weight:400;
  font-size: 0.9em;
}

.sie-login-text {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight:300;
  font-size: 0.7em;
  
}

.trail-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.trail-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  filter: blur(10px); /* Desenfoque para el efecto */
}

.sie-info-card-subtitle {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
}

.sie-info-card-title {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight: 600;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.3;
}

.sie-info-column-subtitle {
  font-family: 'DM Sans';
  color: #A0AEC0;
  font-weight: 500;
  font-size: 0.9em;
}

.sie-info-column-content {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight: 500;
  font-size: 1.0em;
}
.sie-info-column-label {
  font-family: 'DM Sans';
  color: #2D3748;
  font-weight: 700;
  font-size: 1.0em;
}


@media (prefers-color-scheme: light) {

}
